/* *
    Document   : core
    Created on : 15/03/2013, 16:42:09
    Author     : Augusto Weiand <guto.weiand@gmail.com>
    Description:
        Estilos do núcleo do sistema
*/

@CHARSET "UTF-8";
body {
        margin: 0;
        padding: 0;
        background-color: #A5B443;

}

* {
        margin: 0;
        padding: 0;
        font-family: 'Cuprum', 'Verdana', 'Arial';
}

img {
        border: none;
}

.center {
        margin: 0 auto;
        width: 980px;
        height: auto;
}

.content {
        display: none;
}